{% extends 'layouts/index.html' %}

{% block product %}
    <div class = 'product' style="display: flex; justify-content: space-between; width: auto">
         {% for productos in product %}
             <div class="card" style="width: 18rem;">
  <img src="/media/{{ productos.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ productos.title }}</h5>
    <p class="card-text">Rate : {{ productos.price }}</p>
        {% for review in productos.conn_review.all %}
            <p>{{ review.name }}</p>
            <p>{{ review.country }}</p>
            <p>{{ review.review }}</p>
            <p>{{ review.mark_review }}</p>
            {% endfor %}
      {% for catygories in productos.category.all %}
          <p>{{ catygories.kind_of_food }}</p>
          <p>{{ catygories.count }}</p>
       {% endfor %}
    <a href="/product/{{ productos.id }}/" class="btn btn-primary">More</a>
  </div>
</div>
         {% endfor %}

    </div>

{% endblock %}